@use './lib/assets/normalize' as *;

/* Write your global styles here, in PostCSS syntax */
html,
body {
	@apply h-full overflow-hidden;
}

.input-multi-border:focus {
	--tw-ring-color: rgb(var(--color-primary-500) / var(--tw-border-opacity)) !important;
	border-color: rgb(var(--color-primary-500) / var(--tw-border-opacity)) !important;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
}

.paper-F4 {
	$original-width: 210;
	$px-per-mm: 3.7795; // 96dpi / 25.4mm (rounded)
	$aspect-ratio: 1.5714; // 330mm / 210mm (rounded)
	$original-width-px: $original-width * $px-per-mm;

	all: initial;
	display: block;
	box-sizing: border-box;

	// width: 210mm;
	// height: 330mm;
	width: #{$original-width-px}px;
	height: calc(#{$original-width-px}px * 1.5714);

	transform: scale(var(--paper-scale));
	// transform-origin: top left;
	margin: calc(var(--paper-margin-y) * -1px) calc(var(--paper-margin-x) * -1px);

	font-family: 'Bookman Old Style', Georgia, Cambria, serif !important;
	> header {
		padding-top: 5mm;
		padding-right: 15mm;
		padding-left: 15mm;
	}

	> section {
		padding-left: 20mm;
		padding-right: 20mm;
		padding-top: 5mm;
		padding-bottom: 10mm;
		line-height: 1.5;
		font-size: 11pt;
	}

	> footer {
		background-color: red;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	.list-bold li span,
	.list-bold li::marker {
		font-weight: 800;
	}

	.kepala-surat {
		list-style-type: none;
		display: table;
		font-size: 12pt;

		li {
			display: table-row;
		}

		.list-title {
			display: table-cell;
			padding-right: 1rem;
		}
	}
}
