@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.x-input-group-seperator {
	@apply p-2 max-lg:pl-2 max-lg:pr-3 max-lg:rounded-r-full border border-surface-500 variant-filled-surface self-center;
}