/* Write your global styles here, in PostCSS syntax */
html,
body {
	@apply h-full overflow-hidden;
}

.paper-F4 {
	all: initial;
	display: block;
	box-sizing: border-box;
	width: 210mm;
	height: 330mm;
	font-family: 'Bookman Old Style', serif;
}
